<h1> Add A Bottle of Wine To Your Collection!</h1>
<form method='POST' action='/bottles'>
  <h3>Bottle Name:<input type='text' name='name'></h3>
  <h3>Type of Wine:<input type='text' name='type'></h3>
  <h3>Year: <input type='text' name='year'></h3>
  <h3>Location: <input type='text' name='location'></h3>
  <input type='submit' value='submit'>
</form>
