<!doctype html>
<html>
  <head>
    <title>WineCellar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

<body>
  <div class="wrapper">

      <%= yield %>

    <footer class="branding">
      <small>&copy; 2017 <strong>WineCellar</strong></small>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</body>
