<!doctype html>
<html>
  <head>
    <title>WineCellar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

<body>

  <nav>
      <% if logged_in? %>

      <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="/bottles">Wine Cellar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/bottles">Bottles <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="/bottles/new">Add A Bottle</a>
              <a class="nav-item nav-link" href="/logout">Log Out</a>
            </div>
          </div>
        </nav>


      <h1><p>Welcome, <%= current_user.username %>!</p></h1>
      <img src=”images/wood-3362108_1920.jpg”>


      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>
  <div class="wrapper">



      <%= yield %>
      <img src=”images/wood-3362108_1920.jpg”>

      <br>
    <footer class="branding">
      <small>&copy; 2017 <strong>WineCellar</strong></small>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
