<!doctype html>
<html>
  <head>
    <title>WineCellar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

<body>
  <nav>
      <% if logged_in? %>

      <div class="container-fluid">
      <h1><p>Welcome, <%= current_user.username %></p></h1>

        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-outline-secondary"><a href="/bottles/new"> Add A New Bottle </a></button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-secondary"><a href="/logout"> Log Out </a></button>
          </div>
        </div>





      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>
  <div class="wrapper">

      <%= yield %>

      <br>
    <footer class="branding">
      <small>&copy; 2017 <strong>WineCellar</strong></small>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
